<html>
    <head>
        Создание стрима
    </head>
    <body>
        <form action="{% url 'create_stream' %}" method="post">
            {% csrf_token %}
            {% if error_message %}
                <p><strong>{{ error_message }}</strong></p>
            {% endif %}
            <div>
                {{ form.title.errors }}
                <label for={{ form.title.id_for_label }}>Название: </label>
                {{ form.title }}
            </div>
            <div>
                {{ form.code.errors }}
                <label for={{ form.code.id_for_label }}>Код: </label>
                {{ form.code }}
            </div>
            <div>
                {{ form.description.errors }}
                <label for={{ form.description.id_for_label }}>Описание: </label>
                {{ form.description }}
            </div>
            <input type="submit" value="Сохранить">
            <a class="button button__submit" href="{% url 'stream_list' %}">Назад</a>
        </form>
    </body> 
</html>